body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input, select {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-top: 30px;
}
/* Flash Message Styles */
#flash-messages {
    margin-bottom: 20px;
}

.flash {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flash.success {
    background-color: #4CAF50;
    color: white;
}

.flash.error {
    background-color: #f44336;
    color: white;
}

